.header{
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    border: 1px solid black;
    background: rgb(219, 72, 9);
}

.logo{
    width:200px
}

.nav-items{
    padding: 0px 20px;
}
.nav-items > ul{
    font-size: x-large;
    display: flex;
    
}

.nav-items > ul > li{
    padding: 20px;
    margin: 10px ;
    list-style: none;
}

.res-card{
    width: 200px;
    height: 400px;
    
    /* justify-content: space-around; */
    padding: 10px;
    /* background-image: url("https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/af33b81798b11deba338e94b7585d348"); */
}

.res-card:hover{
    border: 2px solid black;
    cursor: pointer;
}

.search{
    padding: 10px;

}

.res-card > img{
    
    width: 190px;
    border-radius: 5px;

}

.restaurant-container{
    width: 80%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}